:root {
  --color-text: #36f906;
  --font-size-med: 2.5rem;
}

html[data-theme='apple'] {
  --color-text: #36f906;
}

html[data-theme='ibm'] {
  --color-text: #8f8e8e;
}

html[data-theme='cathode'] {
  --color-text: #fa7933;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 300;
  color: var(--color-text);
}

html {
  font-size: 62.5%;
}


body {
  background-color: #282828;
  max-width: 100%;

}

.grid {
  display: grid;
  justify-content: center;
  gap: 6rem;
  margin: 20vh auto;

}

h1 {
  font-size: var(--font-size-med);
  max-width: 60vw;
}

span {
  opacity: 0;
}

span.load {
  opacity: 1;
}

input {
  display: flex;
  align-items: center;
  background-color: inherit;
  border: 2px solid var(--color-text);
  font-size: var(--font-size-med);
  max-width: 80vw;
  margin: auto;
  padding: .5rem;
}

footer {
  font-size: 1.6rem;
  text-align: center;
}

:focus {
  outline: none;
}