* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #282828;
  max-width: 100%;
}

.grid {
  display: -ms-grid;
  display: grid;
  justify-content: center;
  gap: 6rem;
  margin: 20vh;
}

h1 {
  color: #33FF00;
  font-size: 1.6rem;
  font-family: 'Share Tech Mono', monospace;
  max-width: 80vw;
}

span {
  opacity: 0;
  transform: translateY(1rem);
}

span.load {
  opacity: 1;
  transform: translateY(0rem);
}

input {
  display: flex;
  align-items: center;
  background-color: inherit;
  border: 2px solid #33FF00;
  color: #33FF00;
  font-family: 'Share Tech Mono', monospace;
  font-size: 1.6rem;
  max-width: 80vw;
  margin: auto;
  padding: .5rem;
}

footer {
  color: #33FF00;
  font-family: 'Share Tech Mono', monospace;
  font-size: 1rem;
  text-align: center;
}